.img1{
    background-image: url(../images/image-53.png);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.white{
    color: #FFEAD0;
}
.btn1{
    background-color: #FF8C38;
    border-radius: 5px;
    border: 2px solid #FF8C38;
    width: 500px;
    height: 40px;
    font-size: 15px;
    color: #FFEAD0;
    
}

footer{
  background-color: #252525;
  color: grey;
  float: left;
  width: 100%;
  text-align: center;
}

.abt1{
    background-image: url(../images/image-54.png);
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: cover;
     
}
.text2{
    margin-left:20px;
    color: black;
}

.para1{
    font-size: 20px;
    margin-left: 20px;
}

.peach{
    background-color: #FFCC8D;
    width: 93%;
    height: 50vh;
    border-radius: 20px;
    padding: 10px 20px;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn2{
    background-color: #000000;
    color: #FFEAD0;
    border-radius: 5px;
    border: 2px solid #000000;
    width: 450px;
    height: 40px;
    font-size: 15px;
    
}.tabs {
  margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: ease-in-out 1.5s;
  }
  
  .tabs button.active {
    background-color: #000000;
    color: #FFEAD0;
  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
  }
  
  .car-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  


  /* Existing styles... */

.car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
  }
  
  .car-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .car-details h2 {
    font-size: 16px;
  }
  
  .car-details p {
    font-size: 15px;
  }
  .car-details{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 80%;
  }
  


  /* Existing styles... */


  
  .car-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
 
  .car-type-button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: #FFEAD0;
    font-size: 15px;
    cursor: pointer;
    margin: 0px;
  }
  button .car-type-button{
    margin: 0px;
  } 
  
  .car-type-button.luxury {
    background-color: #161616;
  }
  
  .car-type-button.simple {
    background-color: #E17654;
  }
  
  .car-type-button.rugged {
    background-color: #115E59;
  }
  
  .car-type-button:hover {
    opacity: 0.8;
  }

  /* SIGN IN */

  .signin-container, .home-container, .host-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #FFF7ED;
    border-radius: 10px;
    border: 1px solid #252525;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
 .bttn {
    padding: 10px 15px;
    background-color: #FF8C38;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: ease-in-out 1.5s;
  }
  
  button:hover {
    background-color: #FF8C38;
    transition: ease-in-out 1.5s;

  }

  .bttn:hover {
    background-color: #252525;
    transition: ease-in-out 1.5s;
  }

  /* HOST */
.fa{
  color: #FF8C38;
}
  .dash1{
    background-color: #FFEAD0;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
  }

.dash2{
  background-color: #FFDDB2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}
  .pad{
     padding: 20px;
  }

  .dash3{
    background-color: #FFF7ED;
  }

  /* src/Host.css */
.dash1, .dash2, .dash3 {
  margin-bottom: 5px;
}

.dash1 .pad, .dash2 .pad {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.dash3 li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;  
  padding: 20px;
}

img {
  margin-right: 10px;
  border-radius: 4px;
}

button {
  margin-left: auto;
}

 


 
  
  
 

@media (max-width:560px) {

    .text1{
        margin-left: 20px;
    }

    .btn1{
        background-color: #FF8C38;
        color: #FFEAD0;
        border-radius: 5px;
        border: 2px solid #FF8C38;
        width: 450px;
        height: 40px;
        font-size: 15px;
        
    }

    .peach{
        background-color: #FFCC8D;
        width: 85%;
        height: 50vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
       
      
      
    }

    .btn2{
        background-color: #000000;
        color: #FFEAD0;
        border-radius: 5px;
        border: 2px solid #000000;
        width: 250px;
        height: 40px;
        font-size: 15px;
        
    }
    .tex{
        margin: 0px;
        margin-bottom: 10px;
    }

    .car-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      padding: 10px;
      border-radius: 8px;
      width: 200px;
    }
   
}
@media (min-width:561px) and (max-width:960px) {
    .text1{
        margin-left: 20px;
    }

}


